.service-feature-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 48px;
   
    @media(max-width:1350px) {
        grid-template-columns: 1fr 1fr ;
    }
    @media(max-width:955px) {
        grid-template-columns:  1fr ;
    }

    .service-feature-card {
        background-color:  #FFF;
        border-radius: .5rem;
        overflow: hidden;
         height: 300px; 
        display: flex;
        flex-direction: column;
        border: 1px solid #d3d2d2;

        .service-card-head {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 1rem;
            padding: 12px 20px;
            border-bottom: 1px solid rgb(201, 201, 201);
            margin-bottom: .8rem;

            .check-circle-icon-container {
                // background-color: #c9f1ca;
                padding: 8px 12px;
                border-radius: .5rem;

                svg {
                    width: 28px;
                    height: 28px;
                    // fill: $bg-success-dk1;
                }
            }

            p {
                margin-bottom: unset;
                font-size: 18px;
                font-weight: 700;
            }
        }

        .service-card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .service-card-status-container {
                .service-card-status {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 20px;
                    margin-bottom: 8px;
                    @media(max-width:1011px) {
                        align-items: start;
                    }
                    .calender-icon-container {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: .5rem;
                        @media(max-width:1011px) {
                            align-items: start;
                        }
                        @media(max-width:955px) {
                            align-items: center;
                        }
                        svg {
                            fill: rgb(156, 156, 156);
                            min-width: 16px;
                            min-height: 16px;
                        }

                        p {
                            margin-bottom: unset;
                        }
                    }

                    span {
                        // background-color: $bg-success-lt5;
                        // color: $text-success-dk1;
                        width: 1.5rem;
                        height: 1.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: .4rem;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    .total-num{
                        width: 4rem;
                    }
                    .remittance-time{
                        width: 7rem;
                        color: $text-gray;
                    }
                }

            }

            .manage-btn-container {
                padding: 16px 10px;
                background-color: #F2F7FB;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    padding: 8px 16px;
                    width: 80%;
                    justify-content: center;
                    // background-color: $bg-gray-lt6;
                }
            }
        }
    }
}